* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'trebuchet MS', Helvetica, sans-serif;
}

body {
    background-color: white;
}

img {
    max-width: 100%;
}

h1 {
    text-align: left;
    margin-bottom: 5%;
    font-size: 2em;
}

.all-pokemons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.pokedex__header {
    background: #f52020b8;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.pokedex__header-title {
    color: white;
    margin: 0 25px 0 10px;
}

.pokedex__header-search {
    margin: auto;
}

.pokedex__header-search form {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.pokedex__header-search input {
    height: 30px;
    width: 100%;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.pokedex__header-search form button {
    width: 80px;
    height: 80px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.pokedex__header-aline {
    display: flex;
    width: 150px;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 20px;
    color: #000000;
    text-align: center;
    border-radius: 40px;
    position: relative;
}

.card::after {
    content: '';
    display: block;
    width: 50%;
    height: 45%;
    position: absolute;
    top: 15%;
    left: 25%;
}


.steel {
    background-color: #f4f4f4;
}

.fire {
    background-color: #FFA05D;
    
}


.grass {
    background-color: #8FD594;
}

.electric {
    background-color: #FFE43B;
}

.water,
.ice {
    background-color: #7E97C0;
}

.ground {
    background-color: #CAAC4D;
}

.rock {
    background-color: #90642D;
}

.fairy {
    background-color: #fceaff;
}

.poison {
    background-color: #9D5B9B;
}

.bug {
    background-color: #EAFD71;
}

.dragon {
    background-color: #97b3e6;
}

.psychic {
    background-color: #FF96B5;
}

.flying {
    background-color: #CDCDCD;
}

.fighting {
    background-color: #FF5D5D;
}

.normal {
    background-color: #FFFFFF;
}

.card:hover {
    animation: bounce 1.0s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
    position: relative;
    z-index: 2;
}

.card-subtitle {
    margin-top: 5px;
    color: #000000;
    font-weight: lighter;
    position: relative;
    z-index: 2;
}

.card-image {
    height: 180px;
    position: relative;
    z-index: 2;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

#rodape {
    clear: both;
    text-align: center;
    padding: 0.5%;
    background: #f52020b8;
    color: white;
}

@media (max-width: 900px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'trebuchet MS', Helvetica, sans-serif;
    }
    
    body {
        background-color: white;
    }
    
    img {
        max-width: 100%;
    }
    
    h1 {
        text-align: left;
        margin-bottom: 5%;
        font-size: 2em;
    }
    
    .all-pokemons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    .pokedex__header {
        background: #f52020b8;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }
    
    .pokedex__header-title {
        color: white;
        margin: 0 25px 0 10px;
    }
    
    .pokedex__header-search {
        margin: auto;
    }
    
    .pokedex__header-search form {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    .pokedex__header-search input {
        height: 30px;
        width: 100%;
        margin-right: 20px;
        border-radius: 10px;
        border: none;
        outline: none;
    }
    
    .pokedex__header-search form button {
        width: 80px;
        height: 80px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .pokedex__header-aline {
        display: flex;
        width: 150px;
    }
    
    .container {
        padding: 40px;
        margin: 0 auto;
    }
    
    .pokedex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 0.9fr));
        grid-gap: 40px;
        padding-inline-start: 0;
    }
    
    .card {
        list-style: none;
        padding: 20px;
        color: #000000;
        text-align: center;
        border-radius: 40px;
        position: relative;
    }
    
    .card::after {
        content: '';
        display: block;
        width: 50%;
        height: 45%;
        position: absolute;
        top: 15%;
        left: 25%;
    }
    
    
    .steel {
        background-color: #f4f4f4;
    }
    
    .fire {
        background-color: #FFA05D;
        
    }
    
    
    .grass {
        background-color: #8FD594;
    }
    
    .electric {
        background-color: #FFE43B;
    }
    
    .water,
    .ice {
        background-color: #7E97C0;
    }
    
    .ground {
        background-color: #CAAC4D;
    }
    
    .rock {
        background-color: #90642D;
    }
    
    .fairy {
        background-color: #fceaff;
    }
    
    .poison {
        background-color: #9D5B9B;
    }
    
    .bug {
        background-color: #EAFD71;
    }
    
    .dragon {
        background-color: #97b3e6;
    }
    
    .psychic {
        background-color: #FF96B5;
    }
    
    .flying {
        background-color: #CDCDCD;
    }
    
    .fighting {
        background-color: #FF5D5D;
    }
    
    .normal {
        background-color: #FFFFFF;
    }
    
    .card:hover {
        animation: bounce 1.0s linear;
    }
    
    .card-title {
        text-transform: capitalize;
        margin-bottom: 0px;
        font-size: 32px;
        font-weight: normal;
        position: relative;
        z-index: 2;
    }
    
    .card-subtitle {
        margin-top: 5px;
        color: #000000;
        font-weight: lighter;
        position: relative;
        z-index: 2;
    }
    
    .card-image {
        height: 180px;
        position: relative;
        z-index: 2;
    }
    
    @keyframes bounce {
        20% {
            transform: translateY(-6px);
        }
        40% {
            transform: translateY(0px);
        }
    
        80% {
            transform: translateY(-2px);
        }
        100% {
            transform: translateY(0);
        }
    }
    
    #rodape {
        clear: both;
        text-align: center;
        padding: 0.5%;
        background: #f52020b8;
        color: white;
    } 
}